@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 635px;
    margin: 0 auto;
}

.article,
.main--article {
    background: #fff;
}

.main--article:hover .article__title,
.article:hover .article__title {
    text-decoration: underline;
}

.main--article a,
.article a {
    text-decoration: none;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 115px;
    background: #e6e6e6;
}

/* Header */
.header {
    height: 56px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.header__block {
    display: flex;
    align-items: center;
}

.burger__wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    margin-right: 5px;
}

.burger {
    display: inline-block;
    width: 25px;
    background: #fff;
    height: 3px;
    position: relative;
}

.burger:before,
.burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}

.burger:before {
    top: -6px;
}

.burger:after {
    bottom: -6px;
}

.header__logo {
    width: 60px;
    display: inline-block;
}

.header__logo > img,
.header__search-btn > img {
    width: 100%;
}

.header__search-btn {
    background: none;
    border: none;
    width: 20px;
    height: 100%;
}
/* \Header */

/* Footer */
#footer {
    height: 115px;
    margin-top: -115px;
    background: #e6e6e6;
    padding-top: 26px;
    padding-bottom: 12px;
}

.footer__logo {
    display: block;
    width: 90px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.footer__logo > img {
    width: 100%;
}

.footer__copyright {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 10px;
}
/* \Footer */